In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/amex-default-prediction/sample_submission.csv
/kaggle/input/amex-default-prediction/train_data.csv
/kaggle/input/amex-default-prediction/test_data.csv
/kaggle/input/amex-default-prediction/train_labels.csv
/kaggle/input/amex-data-integer-dtypes-parquet-format/train.parquet
/kaggle/input/amex-data-integer-dtypes-parquet-format/test.parquet

## Original Dataset

[The original dataset](https://www.kaggle.com/competitions/amex-default-prediction/overview) contains 3 relevant files: test_data.csv, train_data.csv, train_labels.csv. Since the dataset is a competition dataset only the training data is labelled.

For the original dataset the following description is given:

>The target binary variable is calculated by observing 18 months performance window after the latest credit card statement, and if the customer does not pay due amount in 120 days after their latest statement date it is considered a default event.

>The dataset contains aggregated profile features for each customer at each statement date. Features are anonymized and normalized, and fall into the following general categories:

>    * D_* = Delinquency variables
>    * S_* = Spend variables
>    * P_* = Payment variables
>    * B_* = Balance variables
>    * R_* = Risk variables

>with the following features being categorical:

>`['B_30', 'B_38', 'D_114', 'D_116', 'D_117', 'D_120', 'D_126', 'D_63', 'D_64', 'D_66', 'D_68']`

>Your task is to predict, for each customer_ID, the probability of a future payment default (target = 1).

Data analysis of the dataset which has been extremely helpful during the feature engineering process was performed by user @AmbrosM [here](https://www.kaggle.com/code/ambrosm/amex-eda-which-makes-sense#The-data)

## Our Dataset

For our use we'll use only the training data as the dataset and perform our own train-test split later.

List of modifications made:
- dataset converted from .csv format to parquet format
- artifical noise in original data removed
- float to int type conversions done

[Modified dataset](https://www.kaggle.com/datasets/raddar/amex-data-integer-dtypes-parquet-format/data)

## Preprocessing and Feature Engineering

In [2]:
!pip install fastparquet

Collecting fastparquet
  Downloading fastparquet-2024.2.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (4.1 kB)
Requirement already satisfied: pandas>=1.5.0 in /opt/conda/lib/python3.10/site-packages (from fastparquet) (2.2.1)
Requirement already satisfied: numpy>=1.20.3 in /opt/conda/lib/python3.10/site-packages (from fastparquet) (1.26.4)
Collecting cramjam>=2.3 (from fastparquet)
  Downloading cramjam-2.8.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (4.2 kB)
Requirement already satisfied: fsspec in /opt/conda/lib/python3.10/site-packages (from fastparquet) (2024.2.0)
Requirement already satisfied: packaging in /opt/conda/lib/python3.10/site-packages (from fastparquet) (21.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.10/site-packages (from pandas>=1.5.0->fastparquet) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas>=1.5.0->fastparquet) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in /opt/conda/lib/python3.10/site-packages (from pandas>=1.5.0->fastparquet) (2023.4)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /opt/conda/lib/python3.10/site-packages (from packaging->fastparquet) (3.1.1)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas>=1.5.0->fastparquet) (1.16.0)
Downloading fastparquet-2024.2.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.7/1.7 MB 17.6 MB/s eta 0:00:00
Downloading cramjam-2.8.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (2.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.0/2.0 MB 53.5 MB/s eta 0:00:00
Installing collected packages: cramjam, fastparquet
Successfully installed cramjam-2.8.3 fastparquet-2024.2.0

In [3]:
# loading in data
def read_file(path = ''):
    df = pd.read_parquet(path, engine='fastparquet')
    print('shape of data:', df.shape)
    return df

data = read_file(path='/kaggle/input/amex-data-integer-dtypes-parquet-format/train.parquet')

shape of data: (5531451, 190)

In [4]:
data.head()

,customer_ID,S_2,P_2,D_39,B_1,B_2,R_1,S_3,D_41,B_3,...,D_136,D_137,D_138,D_139,D_140,D_141,D_142,D_143,D_144,D_145
0,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-03-09,0.938469,0,0.008724,1.006838,0.009228,0.124035,0.0,0.004709,...,-1,-1,-1,0,0,0.0,NaN,0,0.000610,0
1,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-04-07,0.936665,0,0.004923,1.000653,0.006151,0.126750,0.0,0.002714,...,-1,-1,-1,0,0,0.0,NaN,0,0.005492,0
2,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-05-28,0.954180,3,0.021655,1.009672,0.006815,0.123977,0.0,0.009423,...,-1,-1,-1,0,0,0.0,NaN,0,0.006986,0
3,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-06-13,0.960384,0,0.013683,1.002700,0.001373,0.117169,0.0,0.005531,...,-1,-1,-1,0,0,0.0,NaN,0,0.006527,0
4,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-07-16,0.947248,0,0.015193,1.000727,0.007605,0.117325,0.0,0.009312,...,-1,-1,-1,0,0,0.0,NaN,0,0.008126,0

In [5]:
data.info(max_cols=200, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5531451 entries, 0 to 5531450
Data columns (total 190 columns):
 #    Column       Non-Null Count    Dtype
---   ------       --------------    -----
 0    customer_ID  5531451 non-null  object
 1    S_2          5531451 non-null  object
 2    P_2          5485466 non-null  float32
 3    D_39         5531451 non-null  int16
 4    B_1          5531451 non-null  float32
 5    B_2          5529435 non-null  float32
 6    R_1          5531451 non-null  float32
 7    S_3          4510907 non-null  float32
 8    D_41         5529435 non-null  float32
 9    B_3          5529435 non-null  float32
 10   D_42         791314 non-null   float32
 11   D_43         3873055 non-null  float32
 12   D_44         5531451 non-null  int8
 13   B_4          5531451 non-null  int16
 14   D_45         5529434 non-null  float32
 15   B_5          5531451 non-null  float32
 16   R_2          5531451 non-null  int8
 17   D_46         4319752 non-null  float32
 18   D_47         5531451 non-null  float32
 19   D_48         4812726 non-null  float32
 20   D_49         5531451 non-null  int16
 21   B_6          5531218 non-null  float32
 22   B_7          5531451 non-null  float32
 23   B_8          5509183 non-null  float32
 24   D_50         2389049 non-null  float32
 25   D_51         5531451 non-null  int8
 26   B_9          5531451 non-null  float32
 27   R_3          5531451 non-null  int8
 28   D_52         5501888 non-null  float32
 29   P_3          5229959 non-null  float32
 30   B_10         5531451 non-null  float32
 31   D_53         1446866 non-null  float32
 32   S_5          5531451 non-null  float32
 33   B_11         5531451 non-null  float32
 34   S_6          5531451 non-null  int8
 35   D_54         5529435 non-null  float32
 36   R_4          5531451 non-null  int8
 37   S_7          4510907 non-null  float32
 38   B_12         5531451 non-null  float32
 39   S_8          5531451 non-null  int16
 40   D_55         5346648 non-null  float32
 41   D_56         2540508 non-null  float32
 42   B_13         5481932 non-null  float32
 43   R_5          5531451 non-null  int8
 44   D_58         5531451 non-null  float32
 45   S_9          2597808 non-null  float32
 46   B_14         5531451 non-null  float32
 47   D_59         5531451 non-null  int8
 48   D_60         5531451 non-null  float32
 49   D_61         4933399 non-null  float32
 50   B_15         5524528 non-null  float32
 51   S_11         5531451 non-null  int8
 52   D_62         4773290 non-null  float32
 53   D_63         5531451 non-null  int8
 54   D_64         5531451 non-null  int8
 55   D_65         5531451 non-null  int16
 56   B_16         5531451 non-null  int8
 57   B_17         2393853 non-null  float32
 58   B_18         5531451 non-null  float32
 59   B_19         5531451 non-null  int8
 60   D_66         5531451 non-null  int8
 61   B_20         5531451 non-null  int8
 62   D_68         5531451 non-null  int8
 63   S_12         5531451 non-null  float32
 64   R_6          5531451 non-null  float32
 65   S_13         5531451 non-null  int16
 66   B_21         5531451 non-null  float32
 67   D_69         5336978 non-null  float32
 68   B_22         5531451 non-null  int8
 69   D_70         5531451 non-null  int8
 70   D_71         5531451 non-null  float32
 71   D_72         5531451 non-null  int8
 72   S_15         5531451 non-null  int8
 73   B_23         5531451 non-null  float32
 74   D_73         55856 non-null    float32
 75   P_4          5531451 non-null  float32
 76   D_74         5531451 non-null  int8
 77   D_75         5531451 non-null  int8
 78   D_76         622497 non-null   float32
 79   B_24         5531451 non-null  float32
 80   R_7          5531450 non-null  float32
 81   D_77         3017539 non-null  float32
 82   B_25         5524528 non-null  float32
 83   B_26         5529435 non-null  float32
 84   D_78         5531451 non-null  int8
 85   D_79         5531451 non-null  int8
 86   R_8          5531451 non-null  int8
 87   R_9          5531451 non-null  int8
 88   S_16         5531451 non-null  float32
 89   D_80         5531451 non-null  int8
 90   R_10         5531451 non-null  int8
 91   R_11         5531451 non-null  int8
 92   B_27         5529435 non-null  float32
 93   D_81         5531451 non-null  int8
 94   D_82         5531451 non-null  int8
 95   S_17         5531451 non-null  float32
 96   R_12         5531395 non-null  float32
 97   B_28         5531451 non-null  float32
 98   R_13         5531451 non-null  int8
 99   D_83         5531451 non-null  int8
 100  R_14         5531450 non-null  float32
 101  R_15         5531451 non-null  int8
 102  D_84         5531451 non-null  int8
 103  R_16         5531451 non-null  int8
 104  B_29         381416 non-null   float32
 105  B_30         5531451 non-null  int8
 106  S_18         5531451 non-null  int8
 107  D_86         5531451 non-null  int8
 108  D_87         5531451 non-null  int8
 109  R_17         5531451 non-null  int8
 110  R_18         5531451 non-null  int8
 111  D_88         6004 non-null     float32
 112  B_31         5531451 non-null  int8
 113  S_19         5531451 non-null  float32
 114  R_19         5531451 non-null  int8
 115  B_32         5531451 non-null  int8
 116  S_20         5531451 non-null  int8
 117  R_20         5531451 non-null  int8
 118  R_21         5531451 non-null  int8
 119  B_33         5531451 non-null  int8
 120  D_89         5531451 non-null  int8
 121  R_22         5531451 non-null  int8
 122  R_23         5531451 non-null  int8
 123  D_91         5531451 non-null  int8
 124  D_92         5531451 non-null  int8
 125  D_93         5531451 non-null  int8
 126  D_94         5531451 non-null  int8
 127  R_24         5531451 non-null  int8
 128  R_25         5531451 non-null  int8
 129  D_96         5531451 non-null  int8
 130  S_22         5512427 non-null  float32
 131  S_23         5531006 non-null  float32
 132  S_24         5512858 non-null  float32
 133  S_25         5518604 non-null  float32
 134  S_26         5530817 non-null  float32
 135  D_102        5490796 non-null  float32
 136  D_103        5531451 non-null  int8
 137  D_104        5429903 non-null  float32
 138  D_105        2510020 non-null  float32
 139  D_106        5531451 non-null  int16
 140  D_107        5531451 non-null  int8
 141  B_36         5531451 non-null  float32
 142  B_37         5531395 non-null  float32
 143  R_26         5531451 non-null  int16
 144  R_27         5402748 non-null  float32
 145  B_38         5531451 non-null  int8
 146  D_108        5531451 non-null  int8
 147  D_109        5531451 non-null  int8
 148  D_110        31334 non-null    float32
 149  D_111        5531451 non-null  int8
 150  B_39         33632 non-null    float32
 151  D_112        5528801 non-null  float32
 152  B_40         5531398 non-null  float32
 153  S_27         4130516 non-null  float32
 154  D_113        5531451 non-null  int8
 155  D_114        5531451 non-null  int8
 156  D_115        5354735 non-null  float32
 157  D_116        5531451 non-null  int8
 158  D_117        5531451 non-null  int8
 159  D_118        5354735 non-null  float32
 160  D_119        5354735 non-null  float32
 161  D_120        5531451 non-null  int8
 162  D_121        5354735 non-null  float32
 163  D_122        5531451 non-null  int8
 164  D_123        5531451 non-null  int8
 165  D_124        5531451 non-null  int16
 166  D_125        5531451 non-null  int8
 167  D_126        5531451 non-null  int8
 168  D_127        5531451 non-null  int8
 169  D_128        5429903 non-null  float32
 170  D_129        5531451 non-null  int8
 171  B_41         5531451 non-null  int8
 172  B_42         71478 non-null    float32
 173  D_130        5429903 non-null  float32
 174  D_131        5429903 non-null  float32
 175  D_132        542577 non-null   float32
 176  D_133        5488735 non-null  float32
 177  R_28         5531451 non-null  int8
 178  D_134        194699 non-null   float32
 179  D_135        5531451 non-null  int8
 180  D_136        5531451 non-null  int8
 181  D_137        5531451 non-null  int8
 182  D_138        5531451 non-null  int8
 183  D_139        5531451 non-null  int8
 184  D_140        5531451 non-null  int8
 185  D_141        5429903 non-null  float32
 186  D_142        944408 non-null   float32
 187  D_143        5531451 non-null  int8
 188  D_144        5490724 non-null  float32
 189  D_145        5531451 non-null  int8
dtypes: float32(93), int16(9), int8(86), object(2)
memory usage: 2.5+ GB

In [6]:
# loading in targets
targets = pd.read_csv('../input/amex-default-prediction/train_labels.csv')

In [7]:
targets = targets.set_index('customer_ID')
targets.head()

                                                    target
customer_ID
0000099d6bd597052cdcda90ffabf56573fe9d7c79be5fb...       0
00000fd6641609c6ece5454664794f0340ad84dddce9a26...       0
00001b22f846c82c51f6e3958ccd81970162bae8b007e80...       0
000041bdba6ecadd89a52d11886e8eaaec9325906c97233...       0
00007889e4fcd2614b6cbe7f8f3d2e5c728eca32d9eb8ad...       0

The dataset is set up such that each row is a statement for a certain user, but the labels are set up such that each customer has a binary label. 

**We need to convert the dataset from individual statements to an aggregate of statements for each user.**

To do this we'll take the following aggregates for each user:

Numerical values:

* mean 
* standard deviation
* minimum value
* maximum value 
* last/most recent value

Categorical values:

* the count of how many times it has showed up 
* the last/most recent value it had 
* the number of times it has changed

In [8]:
def feature_engineer(df):
    features = [c for c in list(df.columns) if c not in ['customer_ID','S_2']] # all features except id and date
    cat_features = ["B_30","B_38","D_114","D_116","D_117","D_120","D_126","D_63","D_64","D_66","D_68"]
    num_features = [col for col in features if col not in cat_features]
    
    # calculate aggregates for numerical features
    test_num_agg = df.groupby("customer_ID")[num_features].agg(['mean', 'std', 'min', 'max', 'last'])
    test_num_agg.columns = ['_'.join(x) for x in test_num_agg.columns]
    
    # calculate aggregates fot categorical features
    test_cat_agg = df.groupby("customer_ID")[cat_features].agg(['count', 'last', 'nunique'])
    test_cat_agg.columns = ['_'.join(x) for x in test_cat_agg.columns]

    df = pd.concat([test_num_agg, test_cat_agg], axis=1)
    del test_num_agg, test_cat_agg
    print('shape after engineering', df.shape )
    
    return df

data = feature_engineer(data)

shape after engineering (458913, 918)

In [9]:
data.head()

,P_2_mean,P_2_std,P_2_min,P_2_max,P_2_last,D_39_mean,D_39_std,D_39_min,D_39_max,D_39_last,...,D_63_nunique,D_64_count,D_64_last,D_64_nunique,D_66_count,D_66_last,D_66_nunique,D_68_count,D_68_last,D_68_nunique
customer_ID,,,,,,,,,,,,,,,,,,,,,
0000099d6bd597052cdcda90ffabf56573fe9d7c79be5fbac11a8ed792feb62a,0.933824,0.024194,0.868580,0.960384,0.934745,0.230769,0.832050,0,3,0,...,1,13,0,1,13,-1,1,13,6,1
00000fd6641609c6ece5454664794f0340ad84dddce9a267a310b5ae68e9d8e5,0.899820,0.022119,0.861109,0.929122,0.880519,7.153846,6.743468,0,19,6,...,1,13,0,1,13,-1,1,13,6,1
00001b22f846c82c51f6e3958ccd81970162bae8b007e80662ef27519fcc18c1,0.878454,0.028911,0.797670,0.904482,0.880875,0.000000,0.000000,0,0,0,...,1,13,2,1,13,-1,1,13,6,1
000041bdba6ecadd89a52d11886e8eaaec9325906c9723355abb5ca523658edc,0.598969,0.020107,0.567442,0.623392,0.621776,1.538462,3.017046,0,9,0,...,1,13,0,1,13,-1,1,13,3,3
00007889e4fcd2614b6cbe7f8f3d2e5c728eca32d9eb8ad51ca8b8c4a24cefed,0.891679,0.042325,0.805045,0.940382,0.871900,0.000000,0.000000,0,0,0,...,1,13,0,1,13,1,1,13,6,1

In [10]:
data.isnull().sum()

P_2_mean        2434
P_2_std         7829
P_2_min         2434
P_2_max         2434
P_2_last        2434
                ...
D_66_last          0
D_66_nunique       0
D_68_count         0
D_68_last          0
D_68_nunique       0
Length: 918, dtype: int64

As is our data has many null values, however we know from the data analysis done that a value being null conveys some meaning, so we will impute them with a value that is not present in the datset (-127)

In [11]:
data = data.fillna(-127)

In [12]:
# adding targets to dataset
data = pd.merge(data, targets, on='customer_ID')

In [13]:
# exporting datset
data.to_csv('amex_agg_data.csv', index=False)